

{% extends "base.html" %}
{% block pageheader %}
{{super()}}


{% endblock %}

{% block pagecontent %}
<div id="programmelist" class='scrollable'>
<table id='programmes_table'>
<tr><th>Programme Title</th><th>Versions</th></tr>
</table>
</div>
<div id="modulelist" class='scrollable'>
<table id='modules_table'>
<tr><th>Module Code</th><th>Module Title</th><th>Level</th><th>Block</th><th>Versions</th></tr>
</table></div>
<div id="activitylist" class='scrollable'>
</div>
<div id="assessmentlist" class='scrollable'>
</div>



{% endblock %}
