<!doctype html>
<header>
<title>Programme Learning Outcome</title>
</header>
<body>
<style>
th,td {border: 1px solid #AAA;}
.sticky-div {
            background-color: #88CCFF;
            position: sticky;
            top: 0px;
            padding: 10px 0px;
        }

        .start {
            height: 100px;
        }

        .end {
            height: 5000px;
        }
</style>
<div id='header' class='sticky-div' >
<h2 id=Top>Outcome {{pilo.element_id}}</h2>

    {{pilo.params['outcome']}}
</div>   
<div id='ilometa' style=style="overflow-y:scroll; height=800px;">
<h3>Programmes</h3>
<table>
<tr><th>Code</th><th>Name</th></tr>
{%for prog in progs%}
<tr><td><a href='/programme/{{prog[0]}}'>{{prog[0]}}</a></td><td>{{prog[1]}}</td></tr>
{% endfor %}
</table>
<h3>Mappings</h3>
<ul>
<li><a href='#RSB'>RSB criteria</a></li>
<li><a href='#QAA'>QAA Benchmarks</a></li>
<li><a href='#NIBLSE'>NIBLSE Competencies</a></li> 

<h4 id=RSB>RSB Criteria<h4>
<a href='#Top'>Top</a>
<form id=RSBselect>
<div id="rsb_div" style="overflow-y:scroll; height:400px;">

<table style='border: 1px solid #AAA;'>
<tr><th>Mapped</th><th>Criterion</th><th style='width: 25%'>Section</th><th>Descriptor</th></tr>
{% for r in rsbs%}
{% set checked =''%}
{% if r.element_id in maps%} {% set checked='CHECKED' %}{% endif %}

<tr><td style='border: 1px solid #AAA;'><input type=checkbox id='{{r.element_id}}' {{checked}} /></td><td  style='border: 1px solid #AAA;'>
{{r.params['criterion']}} {{r.params['section']}} {{r.params['subsection']}} </td><td style='border: 1px solid #AAA;'>
{{r.params['criterion_text']}}</td><td  title='{{r.params['notes']}}' style='border: 1px solid #AAA;'> {{r.params['section_text']}} <p/> 
{%for t in r.params['subsection_text'].split("\n") %} {{t}}</p> {%endfor%}
</td></tr>
{% endfor %}
</table>
</div>
<button id='rsb_button' name='rsb_button'>Update RSB Mapping</button>

</form>
<!--
Add list of programme ILOs to work with
-->
<h4 id=QAA>QAA Benchmarks<h4>
<a href='#Top'>Top</a>

<form id=QAAselect>
<div id="qaa_div" style="overflow-y:scroll; height:400px;">
<table>
<tr><th>Mapped</th><th>Subject</th><th>Section</th><th></th><th>Descriptor</th></tr>
{% for q in qaas %}
{% set checked =''%}
{% if q.element_id in maps%} {% set checked='CHECKED' %}{% endif %}

<tr><td><input type=checkbox id='{{q.element_id}}' {{checked}} /></td>
    <td >{{q.params['subject']}}</td>
    <td >{{q.params['section']}} {{q.params['subsection']}}</td>
    <td >{{q.params['section_text']}}</td><td> {{q.params['subsection_text']}}<p/>
    {{q.params['descriptor_text']}}
    </td>
</tr>
{% endfor %}
</table>

</div>

<button id='qaa_button' name='qaa_button'>Update QAA Mapping</button>

</form>


<h4 id=NIBLSE >NIBLSE competencies<h4>
<a href='#Top'>Top</a>
<form id=NIBselect>
<div id="niblse_div" style="overflow-y:scroll; height:250px;">
<table>
<tr><th>Mapped</th><th>Competency</th><th>Descriptor</th></tr>
{% for n in nibs%}
{% set checked =''%}
{% if n.element_id in maps%} {% set checked='CHECKED' %}{% endif %}

<tr><td><input type=checkbox id='{{n.element_id}}' {{checked}} /></td>
<td >{{n.params['competency']}}</td>
<td title='{{n.params['explanation']}} 

Examples:
{{n.params['examples']}}'>{{n.params['descriptor']}}</td>
</tr>
{% endfor %}
</table>
</div>

<button id='nibs_button' name='nibs_button'>Update NIBLSE Mapping</button>

</form>
<!--
<!--
Add list of programme ILOs to work with
-->
</div>
</body>